<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script src="{{{uiRootPath}}}/js/glossy-dict.js"></script>
<script src="{{{uiRootPath}}}/js/vendor/glossy.js"></script>
<style>
 .glossy-term {
 box-shadow: 0 2px 0 #ffd007;
     cursor: pointer;
 }
</style>
