<!-- https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="{{{uiRootPath}}}/css/site.css">
<link rel="stylesheet" href="{{{uiRootPath}}}/css/tomorrow-night-eighties.css">
<link rel="stylesheet" href="{{{uiRootPath}}}/css/search.css">
<link rel="stylesheet" href="{{{uiRootPath}}}/css/custom.css">
<link rel="stylesheet" href="{{{uiRootPath}}}/css/brand.css">
<link rel="stylesheet" href="{{{uiRootPath}}}/css/quote.css">
<link rel="stylesheet" href="{{{uiRootPath}}}/css/font-awesome.min.css">
<link rel="stylesheet" href="https://unpkg.com/tippy.js@6/themes/light.css">
