.doc .quoteblock {
  background: none;
  border-left: 0px;
}
.quoteblock blockquote::before {
  content: "\201c";
  float: left;
  font-size: 2.75em;
  font-weight: bold;
  line-height: 0.6em;
  margin-left: -0.6em;
  color: #0074e0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.quoteblock .attribution {
  text-align: right;
}
