@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.glow {
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
	text-shadow: 0 0 20px #2d9da9;
    }
    to {
	text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
    }
}
